@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.image-div {
  height: 400px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  background-color: red;
  /* width: 100px; */
  color: white;
  padding: 8px 30px;
}

.mum {
  cursor: pointer;
  transition: width 0.3s ease;
}

.arrow {
  display: none;
  border: solid 1px orangered;
}

.mum:hover .arrow {
  display: block;
  color: brown;
}
